.navbar-custom {
    background-color: #000000; 
    color: #ffffff; 
}

.money-img {
    width: 50px; 
    height: auto; 
    float: left; 
    margin-right: 10px;
}

.top-section {
    background-image: url('images/background.jpg'); 
    background-size: cover; 
    color: #ffffff; 
    padding: 100px 0; 
    text-align: center; 
}

.features {
    padding: 50px 0; 
}

.feature {
    text-align: center; 
}


.about-us {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .about-us h2 {
    color: #333;
  }
  .about-us p {
    color: #666;
  }

  .about-us img {
    max-width: 100px; 
    height: 80px; 
    display: block; 
    margin: 5px auto; 
  }
  .money img {
    width: 10px;
    height: 10px;
}

#banner {
    width: 1800px;
    height: 800px;
    margin: 0 80px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 45px;
}

#konten {
    width: 1600px;
    height: 400px;
    margin-left: 130px;
    margin-bottom: 100px;
}

#highlight {
    margin-top: 40px;
    margin-left: 130px;
    margin-right: 140px;
    
}

.col-md p {
    text-align: justify;
}

.col-md h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.col-md p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.row p {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.row h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;

}